<h1>Points Leaderboard</h1>
<hr>
<table>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Total Points</th>
    <th>Weekly Points Wagered</th>
    <th>Weekly Points Earned</th>
    <th>Previous Points Wagered</th>
    <th>Previous Points Earned</th>
  </tr>

<% @users = User.find(:all, order: "points DESC") %>
<% user_rank = 1 %>
<% for user in @users %>
    <tr>
      <td><%= user_rank%></td>
      <% user_rank = user_rank + 1%>
      <td><%= link_to user.profile_name, user_picks_path(user) %></td>
      <td><%= user.user_points %></td>
      <td><%= user.weekly_wagers %></td>
      <td><%= user.weekly_points %></td>
      <td><%= user.last_week_wagers %></td>
      <td><%= user.last_week_points %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to "Back", games_path, class: "btn" %>