<tr>
  <td><%= game.date.to_formatted_s(:long) %></td>
  <td><%= game.team_two.name %></td>
  <td><%= game.team_one.name %></td>
  <td><%= game.spread %></td>
  <td>
    <% if game.picks.where(user_id: current_user.id).any? %>
      <%= link_to game.picks.find_by(user_id: current_user.id).wager, new_game_pick_path(game) %>
    <% else %>
      <%= link_to 'Pick', new_game_pick_path(game) %></td>
    <% end %>

  <% if current_user.admin? %>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% else %>
  <% end %>
</tr>