<% if current_user.admin? %>
  <h1>All Games</h1>
<% else %>
  <h1>This Week's Games</h1>
<% end %>
<hr>
<div class="table-spacing">
  <table class="table-bordered table-striped table-hover">
    <tr>
      <th>Date</th>
      <th>Away Team</th>
      <th>Home Team</th>
      <th>Spread</th>
      <th>Wager</th>

    </tr>

    <% if current_user.admin? %>
      <% @games.each do |game| %>
        <%= render 'game_tr', game: game %>
      <% end %>
      <%= paginate @games %>
    <% else %>
      <h4>Thursday's games</h4>
      <% @games.each do |game| %>
        <% if game.date.beginning_of_week == Date.current.beginning_of_week %>
          <% if game.date.to_time.wday == 4 %>
            <%= render 'game_tr', game: game %>
          <% end %>
        <% end %>
      <% end %>
    </table>

    <table class="table-bordered table-striped table-hover">
      <tr>
        <th>Date</th>
        <th>Away Team</th>
        <th>Home Team</th>
        <th>Spread</th>
        <th>Wager</th>
      </tr>

      <h4>Sunday's games</h4>
      <% @games.each do |game| %>
        <% if game.date.beginning_of_week == Date.current.beginning_of_week %>
          <% if game.date.to_time.wday == 0 %>
            <%= render 'game_tr', game: game %>
          <% end %>
        <% end %>
      <% end %>
    </table>

    <table class="table-bordered table-striped table-hover">
      <tr>
        <th>Date</th>
        <th>Away Team</th>
        <th>Home Team</th>
        <th>Spread</th>
        <th>Wager</th>
      </tr>

      <h4>Monday's games</h4>
      <% @games.each do |game| %>
        <% if game.date.beginning_of_week == Date.current.beginning_of_week %>
          <% if game.date.to_time.wday == 1 %>
            <%= render 'game_tr', game: game %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </table>
</div>

<br />

<% if current_user.admin? %>
  <%= link_to 'New Game', new_game_path, class: "btn btn-success" %>
<% else %>
<% end %>