<h1>Games for Week <%= Date.current.cweek - 28 %></h1>
<hr>
<table>
  <tr>
    <th>Date</th>
    <th>Home Team</th>
    <th>Away Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <h4>Thursday's games</h4>
  <% @games.each do |game| %>
    <% if game.date.beginning_of_week == Date.current.beginning_of_week %>
      <% if game.date.to_time.wday == 4 %>
        <tr>
          <td><%= game.date.to_formatted_s(:long) %></td>
          <td><%= game.team_one.name %></td>
          <td><%= game.team_two.name %></td>
          <td><%= link_to 'Pick', new_game_pick_path(game) %></td>
          <% if current_user.admin? %>
            <td><%= link_to 'Edit', edit_game_path(game) %></td>
            <td><%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>

<table>
  <tr>
    <th>Date</th>
    <th>Home Team</th>
    <th>Away Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <h4>Sunday's games</h4>
  <% @games.each do |game| %>
    <% if game.date.beginning_of_week == Date.current.beginning_of_week %>
      <% if game.date.to_time.wday == 0 %>
        <tr>
          <td><%= game.date.to_formatted_s(:long) %></td>
          <td><%= game.team_one.name %></td>
          <td><%= game.team_two.name %></td>
          <td><%= link_to 'Pick', new_game_pick_path(game) %></td>
          <% if current_user.admin? %>
            <td><%= link_to 'Edit', edit_game_path(game) %></td>
            <td><%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>

<table>
  <tr>
    <th>Date</th>
    <th>Home Team</th>
    <th>Away Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <h4>Monday's games</h4>
  <% @games.each do |game| %>
    <% if game.date.beginning_of_week == Date.current.beginning_of_week %>
      <% if game.date.to_time.wday == 1 %>
        <tr>
          <td><%= game.date.to_formatted_s(:long) %></td>
          <td><%= game.team_one.name %></td>
          <td><%= game.team_two.name %></td>
          <td><%= link_to 'Pick', new_game_pick_path(game) %></td>
          <% if current_user.admin? %>
            <td><%= link_to 'Edit', edit_game_path(game) %></td>
            <td><%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>

<br />
<% if current_user.admin? %>
  <%= link_to 'New Game', new_game_path, class: "btn btn-success" %>
<% else %>
<% end %>