<h1>Listing Games</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Home Team</th>
    <th>Away Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.date.to_formatted_s(:long) %></td>
    <td><%= game.team_one.name %></td>
    <td><%= game.team_two.name %></td>
    
    <% if current_user.has_role?(:admin) %>

      <td><%= link_to 'Edit', edit_game_path(game) %></td>
      <td><%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if current_user.has_role?(:admin) %>
  <%= link_to 'New Game', new_game_path, class: "btn btn-success" %>
<% else %>
<% end %>  

