<h1>Listing Games</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Team One</th>
    <th>Team Two</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.date %></td>
    <td><%= game.team_one.name %></td>
    <td><%= game.team_two.name %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New Game', new_game_path, class: "btn" %>

