<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @game.date %>
</p>

<p>
  <b>Team one:</b>
  <%= @game.team_one_id %>
</p>

<p>
  <b>Team two:</b>
  <%= @game.team_two_id %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
