<p>
  <b>Date:</b>
  <%= @game.date.to_formatted_s(:long) %>
</p>

<p>
  <b>Home Team:</b>
  <%= @game.team_one.name %>
</p>

<p>
  <b>Away Team:</b>
  <%= @game.team_two.name %>
</p>
<% if @game.winning_team_id == nil %>
<% else %>
<p>
  <b>Winning Team:</b>
  <%= @game.winning_team.name %>
</p>
<% end %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
