<%= simple_form_for(pick_resource, html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :pick_team_id, label: false, include_blank: false, collection: [game.team_one, game.team_two], label_method: :name, as: :radio_buttons %>
    <% if current_user.admin? %>
      <%= f.input :wager, label: 'Points', collection: 25..900, :include_blank => false %>
    <% elsif game.bonus == true %>
      <%= f.input :wager, label: 'Points', collection: 25..400, :include_blank => false %>
    <% else %>
      <%= f.input :wager, label: 'Points', collection: 25..300, :include_blank => false %>
    <% end %>
  </div>

  <div class="form-actions">
    <% if game.date < Date.current %>

      <% if current_user.admin? %>
        <%= f.button :submit, class: "btn btn-success" %>
      <% else %>
        <h3>Picks are now closed for this game</h3>
      <% end %>
    <% elsif game.bonus? && game.date <= Date.current %>
      <h3>Picks are now closed for this game</h3>
    <% else %>
      <%= f.button :submit, class: "btn btn-success" %>
      <div id="float-right">
        <h4>Total points wagered this week: <%= @pick.user.weekly_wagers %></h4>
      </div>
    <% end %>
  </div>
<% end %>
