<%= simple_form_for([@game, @pick], html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :pick_team_id, label: false, :include_blank => false, collection: [@game.team_one, @game.team_two], label_method: :name, as: :radio_buttons %>
    <%= f.input :wager, label: 'Points', collection: 25..300, :include_blank => false %>


  </div>

  <% if @game.date == Date.current %>
    <div class="form-actions">
      <h4>Betting is now closed for this game</h4>
    </div>
  <% elsif @game.date < Date.current %>
    <div class="form-actions">
      <h4>Betting is now closed for this game</h4>
    </div>
  <% else %>
    <div class="form-actions">

        <%= f.button :submit, class: "btn btn-success" %>

    </div>
  <% end %>
<% end %>
