<h1>Listing Picks for <%= User.find(params[:user_id]).full_name %></h1>
<hr>
<table>
  <tr>
    <th>Wager</th>
    <th>Team</th>
    <th>Chosen On</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% User.find(params[:user_id]).picks.each do |pick| %>

  <tr>
    <td><%= link_to pick.wager, new_game_pick_path(pick.game_id) %></td>
    <td><%= pick.pick_team_id %></td>
    <td><%= pick.created_at.to_formatted_s(:long)  %></td>




  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', users_path %>

