<h1>Listing Picks for <%= User.find(params[:user_id]).profile_name %></h1>
<hr>
<table class="table-bordered table-striped table-hover">
  <tr>
    <th>Wager</th>
    <th>Pick</th>
    <th>Game Date</th>
    <th>Away Team</th>
    <th>Home Team</th>
  </tr>

<% User.find(params[:user_id]).picks.each do |pick| %>
  <% if pick.user_id == current_user.id %>
    <tr>
      <% if current_user.admin? %>
        <td><%= link_to pick.wager, edit_pick_path(pick) %></td>
      <% else %>
        <td><%= pick.wager %></td>
      <% end %>
      <td><%= pick.pick_team.name %></td>
      <td><%= Game.find_by(id: pick.game_id).date %></td>
      <td><%= Game.find_by(id: pick.game_id).team_two.name %></td>
      <td><%= Game.find_by(id: pick.game_id).team_one.name %></td>
    </tr>

  <% elsif (pick.created_at.beginning_of_week <= Date.current.beginning_of_week) %>
      <tr>
        <% if current_user.admin? %>
          <% @game = Game.find_by(id: pick.game_id) %>
          <td><%= link_to pick.wager, edit_pick_path(pick) %></td>
        <% else %>
          <td><%= pick.wager %></td>
        <% end %>
        <td><%= pick.pick_team.name %></td>
        <td><%= Game.find_by(id: pick.game_id).date  %></td>
        <td><%= Game.find_by(id: pick.game_id).team_two.name %></td>
        <td><%= Game.find_by(id: pick.game_id).team_one.name %></td>


  <% end %>
<% end %>
</table>

<br />

<%= link_to 'Back', user_leaderboard_path(current_user), class: "btn btn-primary" %>

