<!DOCTYPE html>
<html>
<head>
  <title>NFL Pool</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
		<header class="hero-unit">
		  <h1><a href="#">NFL Pool</a></h1>
		  <p>This is a witty slogan</p>	
		</header>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<ul class="nav pull-right">
						<% if user_signed_in? %>
							<li><%= link_to current_user.first_name, edit_user_registration_path %></li>
							<% if current_user.points != nil %>
								<li><a href="#"><%= current_user.points %> Points</a></li>
							<% else %>
								<li><a href="#">0 Points</a></li>
							<% end%>
								
							<li><%= link_to "Log out", logout_path %></li>
						<% else %>
							<li><%= link_to "Register", register_path %></li>
							<li><%= link_to "Log In", login_path %></li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span1">
			</div>
			<div class="span10">
				<% flash.each do |type, message| %>
					<div class="alert <%= flash_class type %>">
						<button class="close" data-dismiss="alert">x</button>
							<%= message %>
					</div>
				<% end %>
				<%= yield %>
			</div> 
		</div>
	</div>	
</body>
</html>
